@model Gds.VideoFrontend.Models.CourseDetailViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-wrapper" style="overflow: hidden;">
    <div class="bg-detail no-padding no-margin">
        <div class="banner">
        </div>
        <!-- + Get user and course information -->
        <input class="course_id" type="hidden" value="@Model.CourseId">
        <input class="course_name" type="hidden" value="@Model.CourseName">
        <!-- + Report modal -->
        <div class="modal fade" id="complete-dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                        <h4 class="modal-title">Báo lỗi</h4>
                    </div>
                    <!-- %hr{:style => "margin-top: 15px; margin-bottom: 15px;"} -->
                    <div class="modal-body">
                        <form>
                            <textarea class="txt-report-content" placeholder="Nội dung báo lỗi" rows="5" style="border: 1px solid #ccc; height: 100%; width: 100%; padding : 5px 15px"></textarea>
                        </form>
                    </div>
                    <!-- %hr{:style => "margin-top: 10px; margin-bottom: 10px;"} -->
                    <div class="modal-footer" style="border: 0px solid #fff">
                        <button class="btn btn-primary btn-submit-report" data-dismiss="modal">Gửi</button>
                        <button class="btn" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu fix -->
        <div class="row no-margin menu-fixed" style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(204, 204, 204); display: none;">
            <div class="container">
                @*<ul class="nav nav-pills">
                        <li class="">
                            <a href="https://edumall.vn/courses/lam-chu-excel-2010-trong-4-gio/detail#description">Mô tả chi tiết</a>
                        </li>
                        <li class="">
                            <a href="https://edumall.vn/courses/lam-chu-excel-2010-trong-4-gio/detail#curiculums">Giáo trình</a>
                        </li>
                        <li class="">
                            <a href="https://edumall.vn/courses/lam-chu-excel-2010-trong-4-gio/detail#author">Giảng viên</a>
                        </li>
                        <li class="">
                            <a href="https://edumall.vn/courses/lam-chu-excel-2010-trong-4-gio/detail#rating">Đánh giá</a>
                        </li>
                    </ul>*@
            </div>
            <ul class="menu-fixed-right">
                <li>
                    <a class="btn btn-raised btn-lg buy-button" href="#" style="padding:5px 15px">
                        Mua khóa học
                    </a>
                </li>
                <li>
                    <h3 class="course-price-text no-margin bold" style="margin: 0; padding-top: 10px">599,000đ</h3>
                </li>
            </ul>
        </div>
        <!-- + Detail content -->
        <div class="detail">
            <div class="detail-top">
                <div class="detail-top-content">
                    <ul class="breadcrumb or-crumb">
                        <li>
                            <a href="https://edumall.vn/" style="color: black;">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>@Model.CategoryName</li>
                    </ul>
                    <h1 class="course-title">@Model.CourseName</h1>
                    <div class="sub-title">@Model.CourseSubTitle</div>
                    <div class="course-rating">
                        <div class="course-rating-point">
                            <div class="pull-left" id="percent-rating">
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <i class="fa fa-star rated"></i>
                                <span class="rating-percent">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star percent" style="width: 79.99999999999999%"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="course-author">
                        Giảng dạy bởi
                        <a class="link-text normal-text" href="#" style="cursor: default">Tuan Linh</a>
                    </div>
                    <div class="course-detail">
                        <div class="course-player">
                            <div class="video-container no-controls">
                                <img style="width: 100%; height: 100%" src="data:image/@Model.MimeTypeImage;base64,@Model.ThumbnailImage" alt="Thumbnail tu 570">
                            </div>
                        </div>
                        <div class="course-detail-bottom">
                            <div class="course-detail-bottom-left">
                                <div class="course-price">
                                    <h3 class="course-price-text no-margin bold">@(Model.Price)đ</h3>
                                </div>
                                <div class="course-purchase">
                                    <div class="purchase-submit">
                                        <a class="btn btn-raised btn-lg buy-button" href="#">
                                            Mua khóa học
                                        </a>
                                    </div>
                                    <div class="sale-submit">
                                        @*<a class="link-text dropdown-button" data-target=".discussion-dropdown" data-toggle="dropdown" href="https://edumall.vn/courses/lam-chu-excel-2010-trong-4-gio/detail" id="coupon-dropdown-button" style="display: inline-block;">
                                                <h5 class="bold-text link-text">Nhập mã khuyến mãi</h5>
                                            </a>*@
                                        @*<ul class="dropdown-menu" id="coupon-dropdown" style="height: 80px; width: 332px; position: absolute; left: 0; padding: 20px;">
                                                <form action="https://edumall.vn/courses/lam-chu-excel-2010-trong-4-gio/detail" method="GET">
                                                    <input class="course_id" type="hidden" value="5661741dd8b7317d0000000c">
                                                    <li>
                                                        <div class="row no-margin">
                                                            <input class="form-control coupon_code" name="coupon_code" placeholder="Nhập mã khuyến mại" style="height: 40px; width: 178px; margin-right:10px; display: inline" type="text" value="">
                                                            <input class="btn btn-primary coupon-submit" type="submit" value="Nhập">
                                                        </div>
                                                    </li>
                                                </form>
                                            </ul>*@
                                    </div>
                                    <div class="report">
                                        @*<a class="link-text" data-target="#complete-dialog" data-toggle="modal" style="cursor: pointer">
                                                <h5 class="bold-text link-text">Báo lỗi</h5>
                                            </a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="course-detail-bottom-right">
                                <div class="course-info">
                                    <div class="course-info-left">
                                        <h5>
                                            Số lượng bài giảng
                                        </h5>
                                        <h5>
                                            Thời lượng video
                                        </h5>
                                    </div>
                                    <div class="course-info-right">
                                        <h5 class="bold">
                                            31
                                        </h5>
                                        <h5 class="bold">
                                            <span>3h46p</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="course-wishlist">
                                    <a class="btn btn-raised btn-lg wishlist-button wishlisted-bg">
                                        <div class="round">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <span>Quan tâm</span>
                                    </a>
                                    <a class="btn social-button" href="#" id="facebook-share-button" style="font-size:48px;">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-bottom">
                <div class="bottom-left">
                    <div class="row no-margin" id="description">
                        <div class="row no-margin">
                            <h3 class="title">
                                Mô tả về khóa học @Model.CourseName
                            </h3>
                        </div>
                        <div class="row no-margin">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                    <div id="curiculums">
                        <div class="curiculums-title">Giáo trình</div>
                        @Html.Partial("~/Views/Course/PartialView/_CourseChildrenTemplate.cshtml")
                    </div>
                    <div id="author">
                        <div class="author-title">Tiểu sử tác giả</div>
                        <div class="author-content">
                            <div class="author-avatar">
                                <img style="width: 100%" src="./Làm chủ Excel 2010 trong 4 giờ_files/nguyen-danh-tu.png" alt="Nguyen danh tu">
                            </div>
                            <div class="author-description">
                                <div class="no-margin"></div>
                                <a class="author-title" href="#" style="color: #464646;">
                                    <span style="font-size:14px">Thạc sỹ</span>
                                    <span>Tuan Linh</span>
                                </a>
                            </div>
                        </div>
                        <div class="author-information">
                            <h5 class="information-text">Nguyên Giám đốc tài chính cho Doanh nghiệp có hơn 600 nhân viên</h5>
                            <h5 class="information-text">15+ năm kinh nghiệm giảng dạy tại Đại học Bách Khoa Hà Nội và BKIndex</h5>
                            <h5 class="information-text">5+ năm kinh nghiệm trong lĩnh vực sư phạm và đào tạo trên môi trường trực tuyến E-learning.</h5>
                            <h5 class="information-text">12+ năm kinh nghiệm trong lĩnh vực Tin học văn phòng trong công việc và cải tiến quy trình</h5>
                            <h5 class="information-text">20+ khóa học dành riêng cho người đi làm với chuyên đề Excel.</h5>
                            <h5 class="information-text">100+ khóa giảng dạy chuyên đề, kỹ năng về ứng dụng CNTT trong làm việc</h5>
                        </div>
                    </div>
                    @*<div id="rating" style="display: none">
                            <div class="rating-title">Đánh giá</div>
                            <div class="rating-point">
                                <div class="point">4.8</div>
                            </div>
                            <div class="course-rating">
                                <div class="rating-star">
                                    <div class="pull-left" id="percent-rating">
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <i class="fa fa-star rated"></i>
                                        <span class="rating-percent">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star percent" style="width: 79.99999999999999%"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="bottom-right">
                    <div class="also-viewed-container">
                        <h3 class="view-title">Khóa học gợi ý cho bạn</h3>
                        @Html.Partial("~/Views/Course/PartialView/_OtherCoursesTemplate.cshtml")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
