@using Microsoft.Owin.Security
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
}

<!-- Make it able to disable modal to use this modal in signin page -->
<div class="modal fade" id="login-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                <h3 class="modal-title">Đăng nhập</h3>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <p class="sub-title">Đăng nhập bằng email</p>
                    <div class="form-control-wrapper">
                        <input class="form-control" id="email" name="user[email]" placeholder="Email" required="true" type="email" value="">
                    </div>
                    <div class="form-control-wrapper">
                        <input class="form-control" id="password" name="user[password]" placeholder="Mật khẩu" required="true" type="password">
                    </div>
                    <input type="hidden" name="authenticity_token" id="authenticity_token" value="u3HrqfAr8BSYbEIF7fXyBqyaWU3V9kyFsUlxBSI/PFOfBArg9xKjjWtK/WuDPAvZ3WrBbGtJinsm0a1v0z19Zg==">
                    <div class="form-control-wrapper">
                        <input class="btn btn-login-submit" type="submit" value="Đăng nhập">
                    </div>
                </form>
                <p class="forgot-password-link">
                    <a class="btn-link" data-dismiss="modal" data-target="#fogot-password-dialog" data-toggle="modal" href="#" id="forgot-password-button">Quên mật khẩu đăng nhập?</a>
                </p>
            </div>
            <div class="modal-footer">
                <div class="forgot-password-link clearfix">
                    <a class="btn btn-link show-social-link login-authen" href="#" data-toggle="down">
                        Đăng nhập với tài khoản mạng xã hội
                        <span>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </a>
                    <div class="form-control-wrapper social-area" id="login-form-authen">
                        <div class="row">
                            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "" }))
                            {
                                @Html.AntiForgeryToken()
                                foreach (AuthenticationDescription p in loginProviders)
                                {
                                    <div class="col-md-6">
                                        <button type="submit" class="col-md-12 btn @(p.AuthenticationType.ToUpper() == "GOOGLE" ? "btn-google" : "btn-facebook")" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                            <i class="left fa @(p.AuthenticationType.ToUpper() == "GOOGLE" ? "fa-google-plus" : "fa-facebook")"></i>
                                            <span class="left">@p.AuthenticationType</span>
                                        </button>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <p class="bottom-text">
                    Chưa có tài khoản?
                    <a class="btn-link" data-dismiss="modal" data-target="#register-modal" data-toggle="modal" href="#">Đăng ký</a>
                </p>
            </div>
        </div>
    </div>
</div>