@{
    ViewBag.Title = "CategoryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style
{
    <link href="~/Content/Style/dropzone.css" rel="stylesheet" />
}

@section left_menu
{
    @Html.Partial("~/Views/PartialViews/_LeftMenuPartial.cshtml")
}

<div class="col-lg-12">
    <div class="col-lg-12">
        <a  data-toggle="modal" class="btn btn-sm btn-primary" onclick="bindingCategoryTypoeGroupFrom(this, 'add')" href="#add-new-category-group">Thêm nhóm</a>
    </div>
    <div id="category_detail_Div">

    </div>
</div>

<div id="add-new-category-detail" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Thêm bài học</h3>
                        <form id="category-detail-form" class="row" role="form">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-6">
                                    <label>Tên chủ đề</label> <input type="text" placeholder="Tên chủ đề" class="category-detail-name form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label>Số thử tự</label> <input type="number" placeholder="Số thử tự" class="category-detail-index form-control">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="file-upload-container dropzone needsclick dz-clickable" style="display: none">
                                    <div class="dz-message needsclick">
                                        Drop files here or click to upload.<br>
                                        <span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <a id="detail-save" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>Save</strong></a>
                            </div>
                            <input type="hidden" id="category-detail-id" value="0" />
                            <input type="hidden" id="category-group-id" value="0" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="add-new-category-group" class="modal fade" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="m-t-none m-b">Thêm nhóm</h3>
                        <form id="category-group-form" class="row" role="form">
                            <div class="form-group col-sm-12">
                                <div class="col-sm-6">
                                    <label>Tên nhóm</label> <input type="text" placeholder="Tên chủ đề" class="category-group-name form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label>Số thử tự</label> <input type="number" placeholder="Số thử tự" class="category-group-index form-control">
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <a id="group-save" class="btn btn-sm btn-primary pull-right m-t-n-xs"><strong>Save</strong></a>
                            </div>
                            <input type="hidden" id="category-type-group-create-date" value="" />
                            <input type="hidden" id="category-type-group-id" value="0" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/CategoryDetail/PatialView/_CategoryTypeGroupPartial.cshtml")
@Html.Partial("~/Views/CategoryDetail/PatialView/_CategoryTypeGroupTemplate.cshtml")
@Html.Partial("~/Views/CategoryDetail/PatialView/_PhysicalFileTemplate.cshtml")
@*@Html.Partial("~/Views/CategoryDetail/PatialView/_CategoryDetailsTemplate.cshtml")*@

@section scripts{
    <script src="~/Scripts/jquery.tmpl.js"></script>
    <script src="~/Scripts/gds.categoryDetail.js"></script>
    <script type="text/javascript" src="~/Scripts/dropzone.js"></script>
    <script type="text/javascript">
        var setupDropzone = function setupDropzone() {
            if ($('.file-upload-container').length === 0) {
                return;
            }
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone(".file-upload-container", {
                previewTemplate: document.querySelector('#preview-template').innerHTML,
                url: '@Url.Action("InsertUpateDetail", "CategoryDetail")',
                method: "POST",
                autoProcessQueue: false,
                clickable: ['.file-upload-container'],
                parallelUploads: 1,
                maxFilesize: 100, // in mb
                thumbnailWidth: 150,
                thumbnailHeight: 150,
                thumbnail: function(file, dataUrl) {
                    if (file.previewElement) {
                        $('#video-content').val(file);
                        file.previewElement.classList.remove("dz-file-preview");
                        var images = file.previewElement.querySelectorAll("[data-dz-thumbnail]");
                        for (var i = 0; i < images.length; i++) {
                            var thumbnailElement = images[i];
                            thumbnailElement.alt = file.name;
                            thumbnailElement.src = dataUrl;
                        }
                        setTimeout(function() { file.previewElement.classList.add("dz-image-preview"); }, 1);
                    }
                },
                queuecomplete: function () {
                    $('#save').show();
                    $('#add-new-category-detail').modal('hide');
                    bindingCategoryDetails();
                },
                sending: function(file, xhr, formData) {
                    formData.append('CategoryTypeId', parseInt(gds.getQueryVariable('categoryTypeId')));
                    var categoryDetailId = isNaN($("#category-detail-form #category-detail-id").val())
                        ? 0
                        : parseInt($("#category-detail-form #category-detail-id").val());
                    formData.append('CategoryDetailId', categoryDetailId);
                    formData.append('CategoryGroupId', $("#category-detail-form #category-group-id").val());
                    formData.append('LectureIndex', $("#category-detail-form .category-detail-index").val());
                    formData.append('CategoryDetailName', $("#category-detail-form .category-detail-name").val());
                }
            });

            $(document).on('click', '#detail-save', function (event) {
                $('#save').hide();
                myDropzone.processQueue();
            });
        };
        setupDropzone();
    </script>
}
